body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.header-color{
    color: orange;
}
section{
    display: flex;
}
.division{
    width: 50%;
    padding-left: 2%;
   
}
.division img{
    width: 80%;
}
.button-color{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}