body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
/* h2{
    font-size: 40px;
} */
.header-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.division{
    width: 50%;
    padding-left: 2%;
    margin-left: 10px;
}
.division img{
    width: 80%;
}
.button-color{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}

.experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
}
.full-stack-border{
    border-left: 7px solid orange;
}
.baby-web-border{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}